<template name="detailHeader">
  <div class="row">
    <div class="col-md-4">
      <h1>{{../department}}</h1>
      <h2>{{../semester}}</h2>
      {{> detailFilter}}
    </div>
    <div class="col-md-8">
      <div class="inline-edit" id="comments-{{_id}}">
        Comments:
        <span class="inline-edit-preview">{{data.comments}}</span>
        <span class="inline-edit-form">
          <br/>
          <textarea id="comments-textarea" placeholder="Comments">{{data.comments}}</textarea>
        </span>
        <i class="glyphicon glyphicon-edit"></i>
      </div>
      <div class="inline-edit" id="approved-funding-{{_id}}">
        Approved funding:
        <span class="inline-edit-preview">{{data.funding}}</span>
        <span class="inline-edit-form">
          <input id="approved-funding-input" type="text" value="{{data.funding}}" placeholder="Approved funding" />
        </span>
        <i class="glyphicon glyphicon-edit"></i>
      </div>
      <div id="currently-allocated">
        Currently allocated: {{currentlyAllocated '' semester=../semester department=../department}}
        <i id="currentlyallocatedbtn" class="glyphicon glyphicon-plus"></i>
        {{#if currentlyAllocatedIsExpanded}}
          <div id="currentlyallocatedexpansion">

            <table class="table table-condensed table-striped table-hover">
              <thead>
                <tr><th>Rank (salaried)</th><th>Teaching Loads</th></tr>
              </thead>
              <tbody>
                {{#each key_value salaryLoad}}
                  <tr class="inline-edit salaryLoad">
                    <td>{{key}}</td>
                    <td>
                      <span class="inline-edit-preview">{{value}}</span>
                      <span class="inline-edit-form">
                        <input type="text" value="{{value}}" data-property={{key}} data-id={{../data._id}} />
                      </span>
                      <i class="glyphicon glyphicon-edit"></i>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>

            <table class="table table-condensed table-striped table-hover">
              <thead>
                <tr><th>Rank (funded)</th><th>Allocated/Budgeted Lines</th><th>Rate</th><th>Allocated/Budgeted</th></tr>
              </thead>
              <tbody>
                {{#each key_value data.breakdown}}
                  <tr class={{rowClass semester=../semester department=../department}} id="breakdown-{{../data._id}}-{{key}}" data-id="{{../data._id}}" data-index="{{key}}" >
                    <td>
                      <span class="inline-edit-preview">{{value.rank}}</span>
                      <span class="inline-edit-form"><input type="text" value="{{value.rank}}" data-property="rank" data-id="{{../data._id}}" data-index="{{key}}" /></span>
                      <i class="glyphicon glyphicon-trash pull-right"></i>
                      <i class="glyphicon glyphicon-edit pull-right"></i>
                    </td>
                    <td>
                      <span class="inline-edit-preview">{{linesAllocated semester=../semester department=../department}}/{{value.lines}}</span>
                      <span class="inline-edit-form"><input type="text" value="{{value.lines}}" data-property="lines" data-id="{{../data._id}}" data-index="{{key}}" /></span>
                    </td>
                    <td>
                      <span class="inline-edit-preview">{{formatCurrency value.rate}}</span>
                      <span class="inline-edit-form"><input type="text" value="{{value.rate}}" data-property="rate" data-id="{{../data._id}}" data-index="{{key}}" /></span>
                    </td>
                    <td>
                      {{currentlyAllocated value.rank semester=../semester department=../department}}
                      / {{currentlyBudgeted}}
                    </td>
                  </tr>
                {{/each}}
                <tr>
                  <td colspan="4">
                    <button class="btn btn-primary btn-mini" id="add-rank-type">Add...</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

