<template name="detail">
  {{ > dropDeadChangelog }}
  {{> detailHeader semester=semester department=department}}
  <table id="people" class="table table-bordered table-hover">
    <thead>
      <th id="person-info">Person</th>
      <th id="pay-amount">Pay Amount</th>
      <th id="courses">Courses</th>
    </thead>
    <tbody>
      {{#each persons}}
        <tr>
          <td class="instructor-details deletable inline-edit" id="instructor-details-{{_id}}" style={{inlineEditBackground prefix='instructor-details-' bgcolor='lightgray'}}>
            <i class="glyphicon glyphicon-trash pull-right"></i>
            <i class="glyphicon glyphicon-edit pull-right"></i>

            {{inlineEditLock prefix='instructor-details-'}}

            <span class="inline-edit-preview">  
              <h4 class="name field">{{name}}</h4>
              {{#if rank}}
              <div class="rank field">
                <span class="label">Rank</span>
                <span class="value">{{rank}}</span>
              </div>
              {{/if}}
              {{#if ukid}}
              <div class="ukid field">
                <span class="label">UKID</span>
                <span class="value">{{ukid}}</span>
              </div>
              {{/if}}
              {{#if notes}}
              <div class="notes field">
                <span class="label">Notes</span>
                <span class="value">{{notes}}</span>
              </div>
              {{/if}}
            </span>

            <span id="person-{{ _id }}" class="inline-edit-form">
              <div class="instructor-properties">
                <div class="field name">
                  <label for="name" class="label">Name</label>
                  <input type="text" name="name" data-property="name" value="{{name}}" />
                </div>
                {{> detailRankSelect }}
                <div class="field ukid">
                  <label for="ukid" class="label">UKID</label>
                  <input type="text" name="ukid" data-property="ukid" value="{{ukid}}" />
                </div>
                <div class="field notes">
                  <label for="notes" class="label">Notes</label>
                  <input type="text" name="notes" data-property="notes" value="{{notes}}" />
                </div>

              </div>
            </span>
          </td>

          <td class="pay-amount deletable inline-edit" id="pay-amount-{{_id}}" style={{inlineEditBackground prefix='pay-amount-' bgcolor='lightgray'}}>
            <i class="glyphicon glyphicon-edit pull-right"></i>
              {{inlineEditLock prefix='pay-amount-'}}

            <span class="inline-edit-preview">  
              {{payAmount}}
            </span>

            <span id="pay-amount-{{_id}}" class="inline-edit-form">
              {{#if isFundedByLines}}
                {{#each lineTypes}}
                <div class="field lines">
                  <label for="lines{{this.rank}}" class="label">{{this.rank}} lines</label>
                  <input type="text" name="lines{{this.rank}}" maxlength="4" value="{{lineValue .. this.rank}}" data-property="lines.{{this.rank}}" data-id="{{../_id}}" /> * {{this.rate}}
                </div>
                {{/each}}
                {{payAmount}}
                <div class="field pay-amount">
                  <label for="pay_amount" class="label">Pay Amount</label>
                  <input type="text" name="pay_amount" data-property="pay_amount" value="{{pay_amount}}" />
                </div>

              {{/if}}
              
              {{#unless isFundedByLines}}
                <div class="field courseRelease">
                  <label for="courseRelease" class="label">Course Release</label>
                  <input type="checkbox" name="courseRelease" data-property="courseRelease" checked={{checked courseRelease}} />
                  <input type="number" min="0" name="courseReleaseAmount" data-property="courseReleaseAmount" value="{{courseReleaseAmount}}" disabled={{disabled courseRelease}} />
                </div>

                <div class="field buyout">
                  <label for="buyout" class="label">Buyout</label>
                  <input type="checkbox" name="buyout" data-property="buyout" checked={{checked buyout}} />
                  <input type="number" min="0" max="100" name="buyoutPercent" data-property="buyoutPercent" value="{{buyoutPercent}}" disabled={{disabled buyout}} />
                </div>

                <div class="field overload">
                  <label for="overload" class="label">Overload</label>
                  <input type="checkbox" name="overload" data-property="overload" checked={{checked overload}} />
                  <input type="text" name="overloadAmount" data-property="overloadAmount" value="{{overloadAmount}}" {{disabled overload}} />
                </div>
              {{/unless}}

            </span>
          </td>

          <td class="instructor-courses">
            <button name="add-course" class="add-course btn btn-mini pull-right">
              Add course
            </button>
            <ul>
              {{#each key_value courses}}
                <li id="course-{{../_id}}-{{key}}" data-index="{{key}}" data-id="{{../_id}}" class="course deletable inline-edit">
                  <span class="inline-edit-preview">
                    {{value.prefix}}-{{value.number}}
                    ({{value.credits}} credits{{#if value.sections}}, sections {{value.sections}}{{/if}})
                  </span>
                  <span class="inline-edit-form" data-index="{{key}}" data-id="{{../_id}}">
                    <div class="prefix field">
                      <input type="text" placeholder="Prefix" maxlength="4" value="{{value.prefix}}" name="prefix" />
                      <label for="prefix">Prefix</label>
                    </div>
                    <div class="number field">
                      <input type="text" placeholder="Course number" maxlength="4" value="{{value.number}}" name="number" />
                      <label for="number">Number</label>
                    </div>
                    <div class="credits field">
                      <input type="number" placeholder="Credit hours" min="0" max="4" maxlength="1" value="{{value.credits}}" name="credits" />
                      <label for="credits">Hours</label>
                    </div>
                    <div class="sections field">
                      <input type="text" placeholder="Sections" value="{{value.sections}}" name="sections" />
                      <label for="sections">Sections</label>
                    </div>
                  </span>
                  <i class="glyphicon glyphicon-edit"></i>
                  <i class="glyphicon glyphicon-trash"></i>
                </li>
              {{/each}}
            </ul>
          </td>          
        </tr>
      {{/each}}
      <tr>
        <td colspan="3">
          <button class="btn btn-primary pull-right" id="add">Add...</button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<template name="detailRankSelect">
  <div class="field rank">
    <label for="rank" class="label">Rank</label>
    <select name="rank" class="rank" style="min-width: 35%">
      <optgroup label="Salaried">
        <option value="Full" selected={{selectedOption 'Full'}}>Full Professor</option>
        <option value="Professor" selected={{selectedOption 'Professor'}}>Professor</option>
        <option value="Assoc" selected={{selectedOption 'Assoc'}}>Associate Professor</option>
        <option value="Assist" selected={{selectedOption 'Assist'}}>Assistant Professor</option>
        <option value="Lecturer" selected={{selectedOption 'Lecturer'}}>Lecturer</option>
        <option value="PostDoc" selected={{selectedOption 'PostDoc'}}>Post Doc</option>
      </optgroup>

      <optgroup label="Funded">
        <option value="FTI" selected={{selectedOption 'FTI'}}>FTI</option>
        <option value="PTI" selected={{selectedOption 'PTI'}}>PTI</option>
        <option value="GA" selected={{selectedOption 'GA'}}>GA</option>
        <option value="RA" selected={{selectedOption 'RA'}}>RA</option>
        <option value="TA" selected={{selectedOption 'TA'}}>TA</option>
        <option value="Fellow" selected={{selectedOption 'Fellow'}}>Fellow</option>
      </optgroup>
    </select>
  </div>
</template>

<template name="detailFilter">
  <form class="form-horizontal">
  <div class="form-group">
    <label for="rank-filter" class="col-sm-4 control-label">Filter by rank</label>
    <div class="col-sm-8">
    <select name="rank-filter" class="rank-filter form-control">
      <option value="All" selected={{selectedOption 'All'}}>All</option>

      <optgroup label="Salaried">
        <option value="Full" selected={{selectedOption 'Full'}}>Full Professor</option>
        <option value="Professor" selected={{selectedOption 'Professor'}}>Professor</option>
        <option value="Assoc" selected={{selectedOption 'Assoc'}}>Associate Professor</option>
        <option value="Assist" selected={{selectedOption 'Assist'}}>Assistant Professor</option>
        <option value="Lecturer" selected={{selectedOption 'Lecturer'}}>Lecturer</option>
        <option value="PostDoc" selected={{selectedOption 'PostDoc'}}>Post Doc</option>
      </optgroup>

      <optgroup label="Funded">
        <option value="FTI" selected={{selectedOption 'FTI'}}>FTI</option>
        <option value="PTI" selected={{selectedOption 'PTI'}}>PTI</option>
        <option value="GA" selected={{selectedOption 'GA'}}>GA</option>
        <option value="RA" selected={{selectedOption 'RA'}}>RA</option>
        <option value="TA" selected={{selectedOption 'TA'}}>TA</option>
        <option value="Fellow" selected={{selectedOption 'Fellow'}}>Fellow</option>
      </optgroup>
    </select>
    </div>
  </div>
  </form>
</template>

