<template name="detail">
  <h1>{{department}}</h1>
  <h2>{{semester}}</h2>

  <table class="table table-bordered">
    <thead>
      <th>Person</th>
      <th>Courses</th>
    </thead>
    <tbody>
      {{#each persons}}
        <tr>
          <td class="deletable">
            <i class="icon-trash pull-right"></i>
            <h4><span class="editable" data-id="{{_id}}" data-property="name">{{name}}</span>
              <i class="icon-edit"></i></h4>
            {{> detailRankSelect }}
          </td>
          <td>
            <button name="add-course" class="add-course btn btn-small pull-right">
              Add course
            </button>
            <ul>
              {{#each courses}}
                <li class="course deletable inline-edit">
                  <span class="inline-edit-preview">
                    {{prefix}}-{{number}} ({{credits}} credits)
                  </span>
                  <span class="inline-edit-form">
                    <input type="text" placeholder="Prefix" maxlength="4" value="{{prefix}}" name="prefix" /><br/>
                    <input type="text" placeholder="Course number" maxlength="4" value="{{number}}" name="number" /><br/>
                    <input type="text" placeholder="Credit hours" maxlength="1" value="{{credits}}" name="credits" /><br/>
                  </span>
                  <i class="icon-edit"></i>
                  <i class="icon-trash"></i>
                </li>
              {{/each}}
            </ul>
          </td>          
        </tr>
      {{/each}}
      <tr>
        <td colspan="2">
          <button class="btn btn-primary pull-right" id="add">Add...</button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<template name="detailRankSelect">
  <select class="rank" style="min-width: 35%">
    <optgroup label="Faculty">
      <option {{selectedOption 'Full'}}>Full Professor</option>
      <option {{selectedOption 'Professor'}}>Professor</option>
      <option {{selectedOption 'Assoc'}}>Associate Professor</option>
      <option {{selectedOption 'Assist'}}>Assistant Professor</option>
    </optgroup>
    <option {{selectedOption 'Lecturer'}}>Lecturer</option>
    <option {{selectedOption 'PostDoc'}}>Post Doc</option>
    <option {{selectedOption 'PTI'}}>PTI</option>
    <option {{selectedOption 'GradStudent'}}>Grad Student</option>
  </select>
</template>
