<template name="manage">
  <section id="manage-page">
    <div class="row">
      
      <div class="span12">
        <div class="departments manage-block">
          <h4>Departments</h4>
          {{> manageDepartments }}
        </div>
      </div>
       
      <div class="span12">
        <div class="semesters manage-block">
          <h4>Semesters</h4>
          {{> manageSemesters }}
        </div>
      </div>

      <div class="span12">
        <div class="admins manage-block">
          {{> manageAdmins }}
        </div>
      </div>
       
    </div>
  </section>
</template>

<template name="manageDepartments">
  <button id="add-department" class="pull-right btn btn-mini btn-primary">Add...</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Department</th>
        <th>Chair/DM users</th>
      </tr>
    </thead>
    <tbody>
      {{#each departments}}
        <tr>
          <td class="deletable">
            <i class="pull-right icon-trash"></i>
            {{department}}
          </td>
          <td>
            {{> departmentUsersSelect }}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="departmentUsersSelect">
  <div>
    <input value="{{usernames}}" data-placeholder="Add users..." type="hidden" class="chair-dm-users span3" />
  </div>
</template>

<template name="manageDepartmentDialog">
  <div class="manage-department-dialog modal hide" role="dialog" aria-labelledby="Clone semester">
    <div class="modal-header">Manage {{department}} Chair/DM users</div>
    <div class="modal-body">
      <table class="table table-bordered table-small">
        <thead><th>Chair/DM users</th></thead>
        <tbody>
          {{#each chairDMusers}}
            <tr><td>{{this}}</td></tr>
          {{/each}}
        </tbody>
      </table>
      <select name="user_dropdown">
        {{#each users}}
          {{username}}
        {{/each}}
      </select>
      <button class="btn" name="add">Add</button>
    </div>
    <div class="modal-footer">
      <button id="clone" class="btn btn-primary">Clone</button>
    </div>
  </div>
</template>

<template name="manageSemesters">
    <a class="btn btn-primary btn-mini pull-right" id="clone_semester">
      {{#if priorSemestersExist}}
        Clone latest
      {{else}}
        Create...
      {{/if}}
    </a>

    <div id="clone_semester_dialog" class="modal hide" role="dialog" aria-labelledby="Clone semester">
      <div class="modal-header">Clone new semester</div>
      <div class="modal-body">
        New semester: <input id="clone_semester_name" type="text" />
        {{#if priorSemestersExist}}
        <select id="clone_semester_source">
          {{#each semesters}}
            <option value="{{semester}}">{{semester}}</option>
          {{/each}}
        </select>
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if priorSemestersExist}}
          <button id="clone" class="btn btn-primary">Clone</button>
        {{else}}
          <button id="create" class="btn btn-primary">Create</button>
        {{/if}}
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <th>Semester</th>
        <th>Drop-dead date</th>
      </thead>
      {{#each semesters}}
        <tr>
          <td class="deletable">
            <i class="pull-right icon-trash"></i>
            {{semester}}
          </td>
          <td>{{#isolate}}<input type="text" data-placeholder="No due date" data-id="{{_id}}" value="{{dropdead}}" class="dropdead" />{{/isolate}}</td>
        </tr>
      {{/each}}
    </table>

</template>

<template name="manageAdmins">
  <h4>TRS Administrators</h4>
  <div class="help">These LinkBlue accounts will be able to edit any part of the TRS application.</div>
  <div>
    <input value="{{usernames}}" data-placeholder="Add users..." type="hidden" class="admin-users" />
  </div>
  <br style="clear: both;" />
</template>
