<template name="home">
  <div id="home">
    <form class="form-wrapper">
      <div class="form-element">
        <label for="department-select">Department:</label>
        <select name="department-select" id="department-select">
          {{#each departments}}
            <option value="{{department}}">{{department}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-element">
        <label for="semester-select">Semester:</label>
        <select name="semester-select" id="semester-select">
          {{#each semesters}}
            <option value="{{semester}}">{{semester}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-element">
        <button id="go" class="btn btn-primary">Go!</button>
      </div>
    </form>
  </div>
</template>

