<template name="changeLog">
	<strong>
		Change log for {{department}}, {{semester}}
	</strong>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>User</th>
				<th>Field</th>
				<th>Message</th>
				<th>Timestamp</th>
			</tr>
		</thead>
		<tbody>
			{{#each changes}}
				<tr>
					<td>	
						<p>
							{{username}}
						</p>
					</td>
					<td>	
						<p>
							{{fieldNames}}
						</p>
					</td>
					<td>	
						<p>
							{{message}}
						</p>
					</td>
					<td>	
						<p>
							{{timestamp}}
						</p>
					</td>
				</tr>	
			{{/each}}
		</tbody>
	</table>
	<nav>
	  <ul class="pager">
	    <li class="previous"><a href="#">&larr; Previous</a></li>
	    <li class="next"><a href="#">Next &rarr;</a></li>
	  </ul>
	</nav>
</template>