<template name="changeLog">
	<strong>
		Change log for {{department}}, {{semester}}
	</strong>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>User</th>
				<th>Field</th>
				<th>Message</th>
				<th>Timestamp</th>
			</tr>
		</thead>
		<tbody>
			{{#each changes}}
				<tr>
					<td>	
						<p>
							{{username}}
						</p>
					</td>
					<td>	
						<p>
							{{fieldNames}}
						</p>
					</td>
					<td>	
						<p>
							{{message}}
						</p>
					</td>
					<td>	
						<p>
							{{timestamp}}
						</p>
					</td>
				</tr>	
			{{/each}}
		</tbody>
	</table>
	<button type="button" class="btn btn-default btn-lrg" id="previousChangesPage">
		<span class="glyphicon glyphicon-chevron-left">Previous</span>
	</button>
	<button type="button" class="btn btn-default btn-lrg" id="nextChangesPage">
		<span class="glyphicon glyphicon-chevron-right">Next</span>
	</button>
</template>