.editable+.glyphicon-edit {
  visibility: hidden;
}
.editable:hover+.glyphicon-edit {
  cursor: pointer;
  visibility: visible;
}
.editable:hover {
  background-color: lightblue;
}
.inline-edit .inline-edit-preview {
  display: inline;
}
.inline-edit .inline-edit-form {
  display: none;
}
.inline-edit.editing .inline-edit-preview {
  display: none;
}
.inline-edit.editing .inline-edit-form {
  display: inline;
}
.inline-edit .glyphicon-edit {
  visibility: hidden;
}
.inline-edit:hover .glyphicon-edit,
.editing .glyphicon-edit {
  cursor: pointer;
  visibility: visible;
}
.deletable .glyphicon-trash {
  visibility: hidden;
}
.deletable:hover .glyphicon-trash,
.editing .glyphicon-trash {
  cursor: pointer;
  visibility: visible;
}
